h1.title {
    color: green;
    &::before {
        content: "";
        height: 20px;
        width: 20px;
        background-color: green;
        position: relative;
        top: 0;
        display: inline-block;
        margin-right: 10px;
        border-radius: 50%;
    }
}
