:root {
    --main-color: rgb(88, 247, 255);
}

body {
    font-family: "Cairo";
    background-color: #eee;

}
header.main-logo {
    width: 100vw;
    height: 60px;
    border-bottom: 2px solid black;
    overflow: hidden;
    box-shadow: 0px -5px 8px 6px #333;
    position: fixed;
    background-color: var(--main-color);
    z-index: 100000;
    top: 0;
    right: 0;
    > img {
        height: 100%;
        margin-left: 50px;
    }
}
.margin {
    margin-bottom: 70px;
}

/** To top button start */
.to-top {
    position: fixed;
    bottom: 40px;
    right: 20px;
    font-size: 42px;

    cursor: pointer;
    display: none;
    > .to-top-btn {
        border-radius: 50%;
        background-color: yellow;
        color: darkblue;
    }
}
/** To top button end */
