@import url("./global.css");

body {
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Cairo";
}

.main-container {
    margin-top: 0;
    margin-bottom: 20px;
    width: 90vw;
    margin: 0 auto;
}

.journal-title {
    width: 100%;
    height: 100px;
    border: 5px double black;
    border-radius: 20px;
    background-color: rgba(222, 222, 222, 0.761);
    display: grid;
    grid-template-columns: 25% 50% 25%;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-family: "Courgette";
    overflow: hidden;
    > img {
        height: 90px;
        &.left-img {
            border-top-left-radius: 15px;
            border-bottom-left-radius: 15px;
        }
        &.right-img {
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;
            justify-self: end;
        }
    }
}

.articles {
    justify-content: space-evenly;
    .article {
        margin: 10px 6px !important;
        overflow: hidden;
        transition-duration: 400ms;
        > img {
            transition-duration: 1s;
            height: 120px;
            &:hover {
                transform: scale(1.7) rotate(15deg);
            }
        }
        .card-body {
            padding: 10px;
        }
        .card-title {
            font-family: "Cairo-ExtraBold";
            padding: 0;
        }
        .card-text {
            font-family: "Cairo-Light";
            font: 18px;
            padding: 0;
        }
        /** Article hover */
        &:hover {
            box-shadow: 2px 2px 4px 1px rgb(125, 125, 125);
            transform: scale(1.07);
            .card-text {
                color: rgb(28, 28, 28) !important;
            }
            .card-title {
                text-decoration: underline 3px solid;
            }
        }
        ul {
            margin-bottom: 6px;
            li {
                padding: 0 !important;
                svg {
                    vertical-align: middle;
                    font-size: 16px;
                    margin-right: 10px;
                    padding: 2px;
                }
            }
        }
    }
}

/** Nav bar Start */
nav {
    background-color: #ddd;
    padding: 10px;
    border-radius: 10px;
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(4, auto);
}
/** Nav bar End */

/** Start - Responsive Styling */
@media (max-width: 500px) {
    .journal-title {
        grid-template-columns: 25% 75% ;
        .right-img {
            display: none;
        }
    }
}
/** End - Responsive Styling */
