@import url("./global.css");

.main-container {
    margin-top: 0;
    margin-bottom: 20px;
    width: 90vw;
    margin: 0 auto;
}

.articles {
    justify-content: space-evenly;
    .article,
    .interview {
        margin: 20px 6px !important;
        overflow: hidden;
        transition-duration: 400ms;
        > img {
            transition: 1s;
            height: 120px;
            &:hover {
                transform: scale(1.7) rotate(15deg);
            }
        }
        .card-body {
            padding: 4px;
        }
        .card-title {
            font-family: "Cairo-ExtraBold";
            padding: 0;
        }
        .card-text {
            font-family: "Cairo-Light";
            font: 18px;
            padding: 0;
        }
        /** Article hover */
        &:hover {
            box-shadow: 2px 2px 4px 1px rgb(125, 125, 125);
            transform: scale(1.07);
            .card-text {
                color: rgb(28, 28, 28) !important;
                font-family: Cairo-Bold;
            }
            .card-title {
                text-decoration: underline 3px solid;
            }
            ul li {
                font-family: Cairo-Bold;
            }
            button {
                font-family: Cairo-ExtraBold;
            }
        }
        ul {
            margin-bottom: 6px;
            li {
                padding: 0 !important;
                font-family: Cairo-Light;

                svg {
                    vertical-align: middle;
                    font-size: 14px;
                    margin-right: 2px;
                    padding: 2px;
                }
            }
        }
    }
    .card-title.fw-bold {
        height: 50px;
    }
}
